.main__container {
    padding-bottom: 5rem;
}

.character__info-title {
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: center;
    margin: -3rem auto 2.25rem;
}

.character__avatar {
    width: 300px;
    height: 300px;
    border: 5px solid #F2F2F7;
    border-radius: 50%;
    object-fit: cover;
}

.character__name {
    margin-top: 10px;
    font-size: 48px;
    font-weight: 400;
}

.character__info-body {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.character-column__information, .character-column__episodes {
    max-width: 420px;
    width: 100%;
}

.character-column__title {
    color: #8E8E93;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 2.25rem;
}

.column__content {
    padding-left: 1rem;
}

.column__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 1.5rem;
}

.column__item:before {
    content: '';
    position: absolute;
    width: 99.5%;
    height: 1px;
    background-color: #21212114;
    right: 0;
    bottom: -0.75rem;
}

.column__item-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

@keyframes shimmer {
    0% {
        background-position: -200% 0;
    }
    100% {
        background-position: 200% 0;
    }
}

.avatar-ghost-loader {
    transition: opacity 0.3s ease;
}

.name-ghost-loader {
    transition: opacity 0.3s ease;
}

.character__avatar {
    transition: opacity 0.3s ease;
}

.character__name {
    transition: opacity 0.3s ease;
    min-height: 58px;
}

.information-ghost-item,
.episode-ghost-item {
    pointer-events: none;
}

@media (max-width: 600px) {
    .character__info-title {
        margin: 1rem auto 2.25rem;
    }

    .character__info-body {
        flex-direction: column;
    }
}
