.filters__content {
    label, input {
        max-width: 326px;
    }
}

@media (max-width: 720px)  {
    .filters__content {
        select {
            display: none;
        }
    }

    .filters__button {
        display: block;
        align-items: center;
    }
}
